[submodule "candidate-service"]
	path = candidate-service
	url = https://github.com/Vaibhav0710/Voting_Candidate_Service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/Vaibhav0710/Voting_User_Service.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Vaibhav0710/Voting_Api-Gateway.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Vaibhav0710/Voting_Eureka_Server.git
[submodule "voting-service"]
	path = voting-service
	url = https://github.com/Vaibhav0710/Voting_Voting_Service.git
